GEMINI_API_KEY=
VECTOR_URL=http://localhost:6333
AI_EMBEDDING_MODEL_NAME=
AI_API_URL=http://localhost:11434
AI_RESPONSE_MODEL_NAME=
PORT=8000
MONGODB_URI=
MONGODB_DB_NAME=ai_pdf_chat
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=
FRONTEND_URL=http://localhost:3000,http://localhost:3001
NODE_ENV=development
